<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/all.min.css"> 
</head>

<body>
    
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Cornucopia</label>
      <ul>
        <li><a  href="#">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <!-- <li><a routerLink="/cart">Cart</a></li> -->
        <li class="dropdown-container">
          <app-categories></app-categories>
        </li>
        <li><a href="#">Feedback</a></li>
        <i class="fas fa-shopping-cart" ></i>
      </ul>
    </nav>
  </body>
</html>