<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   
  <link rel="stylesheet" href="/assets/css/all.min.css"> 
</head>
<body>


    <div class="products-wrapper" *ngIf="!loading">
      <div class="all-products" *ngFor="let item of products">
       <app-product [data]="item" (item) = "addToCart($event)"></app-product>
      </div>
    </div>

  
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

</body>
