img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
    .product{
        position: relative;
        overflow: hidden;
        background: #e9e7e7;
        color: #21201e;
        text-align: center;
        width: 220px;
        height: 395px;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1.2rem;
        margin: 2rem; 
        transition: all 0.3s;
        cursor: pointer;
    }

    .product:hover {
        scale: 1.1;
        box-shadow: 6px 10px 0px ;
    }

    

    .product img{
        height: auto;
        margin: 1rem;
        border: 1.5px solid #000000; 
        border-radius: 5px;
        transition: all 0.3s;
    }

    .product img:hover{
      transform: scale(1.1);
        
    }

    .product a{
        cursor: pointer;
        color: #ececec;
        display: inline-block;
        text-decoration: none;
        background-color:var(--secondary-color);
        padding:  10px;
        border-radius: 1rem;
        margin-top: 0rem;
        transition: all 0.3s;
    }

    .product a:hover{
        transform: scale(1.1);
    }


    @media screen and (max-width: 1024px) {
      .product {
        width: calc(33.333% - 20px); /* Adjust the width for smaller screens */
      }
    }
    
    @media screen and (max-width: 768px) {
      .product {
        width: calc(50% - 20px); /* Adjust the width for smaller screens */
      }
    }
    
    @media screen and (max-width: 480px) {
      .product {
        width: calc(100% - 20px); /* Adjust the width for smaller screens */
      }
    }

    .badge {
      position: absolute;
      top: 60px;
      right: -13px;
      padding: 4px 16px;
      font-size: 0.75em;
      font-weight: bold;
      color: #fff;
      transform: rotate(45deg); /* Rotate the badge to make it diagonal */
      transform-origin: top right; /* Ensure rotation is around the top-right corner */
    }
    
    .out-of-stock {
      background-color: var(--secondary-color);
    }